<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/edit.css" />
    <title>Edit</title>
  </head>
  <body>
    <section id="main">
      <!-- Content Type Is Movies -->
      <% if (locals.content && content.type === "movie") { %>

      <div class="items">
        <div class="poster">
          <img src="<%= content.poster %>" alt="Movie Poster" />
        </div>

        <div class="data">
          <div class="title item">
            <h1><%= content.title %></h1>
            <p class="type"><%= content.type %></p>
          </div>

          <div class="country item">
            <p><i class="icon bi-globe-americas"></i> <%= content.country %></p>
            <p class="rating">
              <i class="icon bi-activity"></i> <%= content.rating %>
            </p>
          </div>

          <div class="released item">
            <p class="runtime">
              <i class="icon bi-clock"></i> <%= content.runtime %> runtime
            </p>
            <p class="released">
              <i class="icon bi-calendar"></i> <%= content.released %> released
            </p>
          </div>

          <div class="genre">
            <p><i class="icon bi-bookmarks"></i> <%= content.genre %></p>
          </div>

          <div class="language">
            <p><i class="icon bi-translate"></i> <%= content.language %></p>
          </div>

          <div class="actors">
            <p><i class="icon bi-people"></i> <%= content.actors %></p>
          </div>

          <div class="writer">
            <p><i class="icon bi-pencil"></i> <%= content.writer %></p>
          </div>

          <div class="director">
            <p><i class="icon bi-person-badge"></i> <%= content.director %></p>
          </div>

          <div class="plot">
            <p><i class="icon bi-journal-text"></i> Story...</p>
            <p><%= content.plot %></p>
          </div>

          <h3><i class="icon bi-pencil-square"></i> Our Details</h3>

          <!-- Edit Details Section-->
          <form action="/edit/<%= content.id %>" method="post">
            <div class="ourDetails">
              <div class="watchYear OurItem">
                <p><i class="icon bi-calendar-check"></i> Watched Year</p>
                <input
                  type="date"
                  id="watchYear"
                  name="watchYear"
                  value="<%= content.watchYear %>"
                />
              </div>

              <div class="wLanguage OurItem">
                <p><i class="icon bi-translate"></i> Language</p>
                <input
                  type="text"
                  id="wLanguage"
                  name="wLanguage"
                  value="<%= content.wLanguage %>"
                />
              </div>

              <div class="watchCount OurItem">
                <p><i class="icon bi-collection-play"></i> Watch Count</p>
                <input
                  type="number"
                  name="watchCount"
                  id="watchCount"
                  value="<%= content.watchCount %>"
                />
              </div>

              <div class="rpCount OurItem">
                <p><i class="icon bi-repeat"></i> Repeat Watch</p>
                <input
                  type="number"
                  name="rpCount"
                  id="rpCount"
                  value="<%= content.rpCount %>"
                />
              </div>

              <div class="review OurItem">
                <p><i class="icon bi-hand-thumbs-up"></i> Our Review</p>
                <select id="review" name="review">
                  <option selected value="<%= content.review %>">
                    <%= content.review %>
                  </option>
                  <option value="good">Good</option>
                  <option value="bad">Bad</option>
                  <option value="satisfying">Satisfying</option>
                  <option value="average">Average</option>
                </select>
              </div>

              <div class="uRating OurItem">
                <p><i class="icon bi-star-half"></i> Our Rating</p>
                <input
                  type="text"
                  name="uRating"
                  id="uRating"
                  value="<%= content.uRating %>"
                />
              </div>

              <div class="subTitlesLink OurItem">
                <p><i class="icon bi-copy"></i> Subtitle Links</p>
                <input
                  type="text"
                  name="subTitlesLink"
                  id="subTitlesLink"
                  value="<%= content.subTitlesLink %>"
                />
              </div>

              <!-- Hidden Data -->
              <input type="hidden" name="id" value="<%= content.id %>" />
              <input type="hidden" name="title" value="<%= content.title %>" />
              <input type="hidden" name="type" value="<%= content.type %>" />
              <input
                type="hidden"
                name="rating"
                value="<%= content.rating %>"
              />
              <input
                type="hidden"
                name="released"
                value="<%= content.released %>"
              />
              <input
                type="hidden"
                name="poster"
                value="<%= content.poster %>"
              />
              <input
                type="hidden"
                name="country"
                value="<%= content.country %>"
              />
              <input
                type="hidden"
                name="runtime"
                value="<%= content.runtime %>"
              />
              <input type="hidden" name="genre" value="<%= content.genre %>" />
              <input
                type="hidden"
                name="language"
                value="<%= content.language %>"
              />
              <input
                type="hidden"
                name="actors"
                value="<%= content.actors %>"
              />
              <input
                type="hidden"
                name="writer"
                value="<%= content.writer %>"
              />
              <input
                type="hidden"
                name="director"
                value="<%= content.director %>"
              />
              <input type="hidden" name="plot" value="<%= content.plot %>" />

              <div class="buttons">
                <button type="submit" class="submit">
                  <i class="icon bi-cloud-plus"></i> Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <% } else { %>
      <!-- Content Type Is Series -->

      <div class="items">
        <div class="poster">
          <img src="<%= content.poster %>" alt="Movie Poster" />
        </div>

        <div class="data">
          <div class="title item">
            <h1><%= content.title %></h1>
            <p class="type"><%= content.type %></p>
          </div>

          <div class="country item">
            <p><i class="icon bi-globe-americas"></i> <%= content.country %></p>
            <p class="rating">
              <i class="icon bi-activity"></i> <%= content.rating %>
            </p>
          </div>

          <div class="released item">
            <p class="runtime">
              <i class="icon bi-clock"></i> <%= content.runtime %> runtime
            </p>
            <p class="released">
              <i class="icon bi-calendar"></i> <%= content.released %> released
            </p>
          </div>

          <div class="genre">
            <p><i class="icon bi-bookmarks"></i> <%= content.genre %></p>
          </div>

          <div class="language">
            <p><i class="icon bi-translate"></i> <%= content.language %></p>
          </div>

          <div class="actors">
            <p><i class="icon bi-people"></i> <%= content.actors %></p>
          </div>

          <div class="writer">
            <p><i class="icon bi-pencil"></i> <%= content.writer %></p>
          </div>

          <div class="director">
            <p><i class="icon bi-person-badge"></i> <%= content.director %></p>
          </div>

          <div class="plot">
            <p><i class="icon bi-journal-text"></i> Story...</p>
            <p><%= content.plot %></p>
          </div>

          <h3><i class="icon bi-pencil-square"></i> Our Details</h3>

          <!-- Edit Details Section-->
          <form action="/edit/<%= content.id %>" method="post">
            <div class="ourDetails">
              <div class="watchYear OurItem">
                <p><i class="icon bi-calendar-check"></i> Watched Year</p>
                <input
                  type="date"
                  id="watchYear"
                  name="watchYear"
                  value="<%= content.watchYear %>"
                />
              </div>

              <div class="wLanguage OurItem">
                <p><i class="icon bi-translate"></i> Language</p>
                <input
                  type="text"
                  id="wLanguage"
                  name="wLanguage"
                  value="<%= content.wLanguage %>"
                />
              </div>

              <div class="watchCount OurItem">
                <p><i class="icon bi-collection-play"></i> Watch Count</p>
                <input
                  type="number"
                  name="watchCount"
                  id="watchCount"
                  value="<%= content.watchCount %>"
                />
              </div>

              <div class="rpCount OurItem">
                <p><i class="icon bi-repeat"></i> Repeat Watch</p>
                <input
                  type="number"
                  name="rpCount"
                  id="rpCount"
                  value="<%= content.rpCount %>"
                />
              </div>

              <div class="review OurItem">
                <p><i class="icon bi-hand-thumbs-up"></i> Our Review</p>
                <select id="review" name="review">
                  <option selected value="<%= content.review %>">
                    <%= content.review %>
                  </option>
                  <option value="good">Good</option>
                  <option value="bad">Bad</option>
                  <option value="satisfying">Satisfying</option>
                  <option value="average">Average</option>
                </select>
              </div>

              <div class="lastWatchSeason OurItem">
                <p><i class="icon bi-pc-display-horizontal"></i> Last Season</p>
                <input
                  type="number"
                  name="lastWatchSeason"
                  id="lastWatchSeason"
                  value="<%= content.lastWatchSeason %>"
                />
              </div>

              <div class="lastWatchEpisode OurItem">
                <p><i class="icon bi-tv"></i> Last Episode</p>
                <input
                  type="number"
                  name="lastWatchEpisode"
                  id="lastWatchEpisode"
                  value="<%= content.lastWatchEpisode %>"
                />
              </div>

              <div class="status OurItem">
                <p><i class="icon bi-clipboard2-data"></i> Status</p>

                <select name="status" id="status">
                  <option selected value="<%= content.status %>">
                    <%= content.status %>
                  </option>
                  <option value="watching">Watching</option>
                  <option value="finished">Finished</option>
                  <option value="abandoned">Abandoned</option>
                  <option value="pause">Paused</option>
                </select>
              </div>

              <div class="uRating OurItem">
                <p><i class="icon bi-star-half"></i> Our Rating</p>
                <input
                  type="text"
                  name="uRating"
                  id="uRating"
                  value="<%= content.uRating %>"
                />
              </div>

              <div class="subTitlesLink OurItem">
                <p><i class="icon bi-copy"></i> Subtitle Links</p>
                <input
                  type="text"
                  name="subTitlesLink"
                  id="subTitlesLink"
                  value="<%= content.subTitlesLink %>"
                />
              </div>

              <!-- Hidden Data -->
              <input type="hidden" name="id" value="<%= content.id %>" />
              <input type="hidden" name="title" value="<%= content.title %>" />
              <input type="hidden" name="type" value="<%= content.type %>" />
              <input
                type="hidden"
                name="rating"
                value="<%= content.rating %>"
              />
              <input
                type="hidden"
                name="released"
                value="<%= content.released %>"
              />
              <input
                type="hidden"
                name="poster"
                value="<%= content.poster %>"
              />
              <input
                type="hidden"
                name="country"
                value="<%= content.country %>"
              />
              <input
                type="hidden"
                name="runtime"
                value="<%= content.runtime %>"
              />
              <input type="hidden" name="genre" value="<%= content.genre %>" />
              <input
                type="hidden"
                name="language"
                value="<%= content.language %>"
              />
              <input
                type="hidden"
                name="actors"
                value="<%= content.actors %>"
              />
              <input
                type="hidden"
                name="writer"
                value="<%= content.writer %>"
              />
              <input
                type="hidden"
                name="director"
                value="<%= content.director %>"
              />
              <input type="hidden" name="plot" value="<%= content.plot %>" />

              <div class="buttons">
                <button type="submit" class="submit">
                  <i class="icon bi-cloud-plus"></i> Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <% } %>
    </section>
    <script>
      // Add Dark Light Theme.
      const darkTheme = localStorage.getItem("dark");
      const lightTheme = localStorage.getItem("light");

      // Dark Light Mode On Window Load.
      if (lightTheme === "true") {
        document.body.classList.remove("dark");
      }
      if (darkTheme === "true") {
        document.body.classList.add("dark");
      }
    </script>
  </body>
</html>
